

header {
  border: 1px solid red;
  height: 80px;
  padding-top: var(--space-sm);
  position: relative;
  width: 100%;
}

nav {
  max-width: var(--w-max-lg); /*? 1500px */
  margin: var(--m-auto);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  align-items: center;
  position: fixed;
  top: 0;
}

nav a {
  text-decoration: none;
  color: var(--clr-text);
}

nav h1 div:first-child {
  letter-spacing: var(--space-xs);
}


