

header {
  border: 1px solid red;
  height: 80px;
  padding-top: var(--space-sm);
  display: flex;
  justify-content: center;
}

nav {
  max-width: var(--w-max-lg); /*? 1500px */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 20;
}

nav a {
  text-decoration: none;
  color: var(--clr-text);
}

nav h1 div:first-child {
  letter-spacing: var(--space-xs);
}


